<div class="logo-text">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h5 class="logo-text-header logo-text-header-top">Restaurangbokning
</h5>
				<h5 class="logo-text-header">Kontakta Oss</h5>
				<h5 class="logo-text-header">Karriärer</h5>
				<h5 class="logo-text-header">Villkor och Bestämmelser</h5>
			</div>
			<div class="col-md-3">
				<h5 class="logo-text-header-top logo-text-header">Restaurangbesökaren</h5>
				<h5 class="logo-text-header">Blogg</h5>
				<h5 class="logo-text-header">Avbokning</h5>
			</div>
			<div class="col-md-6">
				<div class="row">
					<a href=""><i class="fa fa-twitter fa-2x social-media-links"></i></a>
					<a href=""><i class="fa fa-facebook-official fa-2x social-media-links"></i></a>
					<a href=""><i class="fa fa-youtube-square fa-2x social-media-links"></i></a>
					<a href=""><i class="fa fa-instagram fa-2x social-media-links"></i></a>
					<a href=""><i class="fa fa-google-plus fa-2x social-media-links"></i></a>
				</div>
				<div class="row">
					<img src="assets/images/app-store-logo.png" width="25%" class="app-download">
					<img src="assets/images/get-it-on-google-play.png" width="25%" class="app-download">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<h5 class="logo-text-header logo-text-header-top">För Restauranger</h5>
				<h5 class="logo-text-header">Gå med oss</h5>
			</div>
			<div class="col-md-3">
				<h5 class="logo-text-header-top logo-text-header">Sign up for special offers</h5>
				<h5 class="logo-text-header"><input class="navbar-textbox-style foooter-box" type="text" ng-model="searchKeyword" placeholder="Email Id"></input></h5>
				<button class="navbar-button-style foooter-box">Send me offers</button>
			</div>
		</div>
	</div>
</div>
<div class="footer-copyright">
	<div class="container">
		<p class="copyright-text">Copyright Restaurangbokning © 2016. All Rights Reserved</p>
		<!-- <span><i class="ion-social-facebook"></i></span> -->
	</div>
</div>
