<div class="home-background">
  <header class="hero-unit home-background" id="banner" style="background-image: url('assets/images/homePageImage.png');">
    <div class="container-fluid">
      <h1>RESTURANGER SAMLADE UNDER ETT TAK</h1>
      <p class="lead">BOKA BORD, BESTÄLL MAT FÖR AVHÄMTNING ELLER HEMKÖRNING. VILKET ALTERNATIV DU ÄN VÄLJER BLIR DET INTE ENKLARE ÄN SÅ HÄR!</p>
      <div class="row lead-text">
        <div class="col-md-2 navbar-text-style"></div>
        <div class="col-md-2"><input class="navbar-textbox-style" type="text" ng-model="searchKeyword" placeholder="Sökord"></input></div>
        <div class="col-md-2"><i class="glyphicon glyphicon-map-marker icon-space"></i><input class="navbar-textbox-style " type="text" ng-model="searchKeyword" placeholder="Position"></div>
        <div class="col-md-2"><input class="navbar-textbox-style" type="text" ng-model="searchKeyword" placeholder="All Categories"></input></div>
        <div class="col-md-2"><button class="navbar-button-style">Sök restaurang</button></div>
        <div class="col-md-2 navbar-text-style"></div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-md-3 info-text">
        <span><i class="glyphicon glyphicon-map-marker icon-style"></i></span>
        <br />
        <p class="info-header-style">Restauranger nära dig</p>
        <br />
        <p class="info-text-style">Hitta enkelt en restuarang nära dig med hjälp av vår positionsspårare. Sugen på kinamat i Kristianstad inga problem!</p>
      </div>
      <div class="col-md-3 info-text">
        <span><i class="glyphicon glyphicon-credit-card icon-style"></i></span>
        <br />
        <p class="info-header-style">Unika erbjudanden</p>
        <br />
        <p class="info-text-style">Hitta enkelt en restuarang nära dig med hjälp av vår positionsspårare. Sugen på kinamat i Kristianstad inga problem!</p>
      </div>
      <div class="col-md-3 info-text">
        <span><i class="glyphicon glyphicon-list-alt icon-style"></i></span>
        <br />
        <p class="info-header-style">Restauranger nära dig</p>
        <br />
        <p class="info-text-style">Hitta enkelt en restuarang nära dig med hjälp av vår positionsspårare. Sugen på kinamat i Kristianstad inga problem!</p>
      </div>
    </div>
  </div>
  <img src="assets/images/appDownload.jpg" width="100%">
  <div class="logo-text">
    <p>Plats för logo</p>
    <br />
    <p>Här kan man lägga till vilken text man vill, eller menyer eller dylikt</p>
    <br />
    <p>Skapad av oss för er!</p>
  </div>
</div>