<div class="home-background">
  <header class="hero-unit home-background" id="banner" style="background-image: url('assets/images/homePageImage.png');">
    <div class="container-fluid">
      <h1>RESTURANGER SAMLADE UNDER ETT TAK</h1>
      <p class="lead">BOKA BORD, BESTÄLL MAT FÖR AVHÄMTNING ELLER HEMKÖRNING. VILKET ALTERNATIV DU ÄN VÄLJER BLIR DET INTE ENKLARE ÄN SÅ HÄR!</p>
      <div class="row lead-text">
        <div class="col-md-2 navbar-text-style"></div>
        <div class="col-md-6"><i class="glyphicon glyphicon-map-marker icon-space"></i>
          <input class="navbar-textbox-style search-bar" type="text" ng-model="searchKeyword" placeholder="Enter Location">
        </div>
        <div class="col-md-2">
          <button class="navbar-button-style" ng-click="findRestaurant()">Sök restaurang</button>
        </div>
        <div class="col-md-2 navbar-text-style"></div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-md-3 info-text grow">
        <span><i class="glyphicon glyphicon-map-marker icon-style"></i></span>
        <br />
        <p class="info-header-style">Restauranger nära dig</p>
        <br />
        <!-- <p class="info-text-style">Hitta enkelt en restuarang nära dig med hjälp av vår positionsspårare. Sugen på kinamat i Kristianstad inga problem!</p> -->
      </div>
      <div class="col-md-3 info-text grow">
        <span><i class="glyphicon glyphicon-credit-card icon-style"></i></span>
        <br />
        <p class="info-header-style">Unika erbjudanden</p>
        <br />
        <!-- <p class="info-text-style">Hitta enkelt en restuarang nära dig med hjälp av vår positionsspårare. Sugen på kinamat i Kristianstad inga problem!</p> -->
      </div>
      <div class="col-md-3 info-text grow">
        <span><i class="glyphicon glyphicon-list-alt icon-style"></i></span>
        <br />
        <p class="info-header-style">Restauranger nära dig</p>
        <br />
        <!-- <p class="info-text-style">Hitta enkelt en restuarang nära dig med hjälp av vår positionsspårare. Sugen på kinamat i Kristianstad inga problem!</p> -->
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3" ng-repeat="image in cityImages">
        <img src="assets/images/{{image}}" width="100%" height="180px">
      </div>
    </div>
    <div class="row space">
      <h3 class="restaurant-list-heading">Fler Städer</h3>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <h2 class="restaurant-list-heading">Utvalda restauranger</h2>
    </div>
    <div class="row">
      <h3 class="restaurant-list-heading">Några av våra favoriter</h3>
    </div>
    <div class="row space">
      <div ng-repeat="res in mainRestaurants | limitTo: 4" class="col-md-3" ng-mouseover="showView = 'view-page'; dimDisplay = 'show-page'" ng-mouseleave="showView = 'hidden'; dimDisplay = ''">
        <a ui-sref="restaurant-page({restaurantId: res._id})" ng-class="dimDisplay">
          <img src="assets/images/{{res.headerImage[0]}}" width="100%" height="180px">
          <div class="restaurant-name" ng-class="dimDisplay">
            <div class="row">
              <div class="col-md-6">
                <rate-yo ng-model="rating" read-only="options.readOnly" options="options" class="rating-style"></rate-yo>
              </div>
              <div class="col-md-6 user-rated">
                <p>({{usersRated}})</p>
              </div>
            </div>
            <a ui-sref="restaurant-page.restaurant-overview" style="text-decoration: none; color: black;">
              <h5 class="rating-style">{{res.restaurantName}}</h5>
            </a>
          </div>
          <!-- <div class="star-deal-background">
            <div class="row">
              <div class="col-md-5 star-deal-logo"><span class="star-logo"><i class="fa fa-star"></i></span>Star Deals</div>
              <div class="col-md-4 star-deal-amount">
                <p class="star-deal-amount-float">£{{starDealPrice}}
                  <p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h5 class="star-deal-course">{{starDeal}}</h5>
              </div>
            </div>
          </div> -->
        </a>
        <p ng-class="showView"><b>View page >></b></p>
      </div>
    </div>
  </div>
</div>
