.thing-form {
  margin: 20px 0;
}
#banner {
  border-bottom: none;
}
#banner h1 {
  font-size: 50px;
  line-height: 1;
  letter-spacing: -1px;
  margin-top: 5%;
}
.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}
.link {
  text-decoration: none;
  color: black;
}
.navbar-text {
  margin-left: 15px;
}
.home-background {
  background-size: cover;
  background-position: center;
  background-color: #EAEEF2;
}
.lead-text {
  margin: 5%;
}
.info-text {
  margin: 4%;
  margin-bottom: 0px;
}
.icon-style {
  font-size: 300%;
  margin-left: 40%;
  color: #3396D1;
  padding-top: 5%;
}
.info-header-style {
  text-align: center;
  padding-top: 5%;
  font-weight: bolder;
  color: #877A8F;
  font-size: large;
}
.info-text-style {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  color: #877A8F;
  font-size: initial;
}
.restaurant-list-heading {
  text-align: center;
  color: #877A8F;
  margin-top: 0px;
  margin-bottom: 20px;
}
.rating-style {
  padding: 10px;
  font-weight: bold;
}
.restaurant-name {
  background-color: white;
  border-bottom: solid #3396D1 5px;
  color: black;
}
.user-rated {
  padding: 10px;
  padding-left: 0px;
}
.star-deal-logo {
  margin: 15px;
  padding: 10px;
  background: #CCD3DA;
  border-radius: 30px;
}
.star-deal-amount {
  margin: 15px;
  padding: 10px;
}
.star-deal-amount-float {
  float: right;
}
.star-deal-course {
  padding: 10px;
}
.app-download {
  padding-top: 20px;
}
.star-deal-background {
  background-color: #F4F6F8;
  border-bottom: solid #3396D1 5px;
  margin-bottom: 21px;
  color: black;
}
.star-logo {
  color: #85959B;
  margin-right: 5px;
}
.grow {
  transition: all .2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}
.search-bar {
  width: 100%;
  margin: 0px;
  padding: 12px;
}
.space {
  margin-bottom: 25px;
  margin-top: 15px;
}
.show-page {
  -webkit-filter: brightness(0.5);
}
.view-page {
  position: absolute;
  top: 100px;
  left: 100px;
  color: #F5F5F5;
}
.city-dropdown {
  height: 30px;
  padding: 0px;
  margin: 0px;
  background-color: #EAEEF2;
  color: #877A8F;
  font-weight: 500;
  width: 130px;
  font-size: 20px;
  border: none;
}
.selectedtab {
  background-color: white !important;
  margin: 4%;
  margin-bottom: 0px;
  border-bottom: 2px solid #4393B9;
}
.tab-text {
  background-color: white;
  height: 100px;
  padding: 20px;
  font-size: 20px;
  margin-bottom: 40px;
}
.pointer-style {
  cursor: pointer;
}
