.background-img {
  height: 500px;
  -webkit-filter: brightness(0.4);
}
.map-settings {
  height: 300px;
  padding: 20px;
}
.top-space {
  margin-top: 20px;
}
.page-background {
  background-color: #EAEEF2;
}
.title {
  padding: 10px;
}
.restaurant-header {
  position: absolute;
  top: 350px;
  color: white;
  font-weight: bolder;
  width: 100%
}
.restaurant-title {
  font-size: 30px;
  font-family: sans-serif;
}
.restaurant-options {
  font-size: 9px;
  padding-top: 5px;
}
.restaurant-rating {
  padding: 0px;
}
.restaurant-review {
  margin-left: 25px;
}
.component-background {
  background-color: white;
  margin-bottom: 20px;
}
.address-column {
  font-family: serif;
  color: #8196AE;
  padding: 20px;
  padding-top: 0px;
}
.address-column-link {
  color: #8196AE;
  font-weight: bolder;
  text-decoration: none;
}
.social-media-link {
  border: 1px solid white;
  border-radius: 250px;
  padding: 10px;
  color: white;
  margin: 10px;
  float: left;
  background-color: black;
}
.book-header {
  margin: 20px;
  font-size: 20px;
  color: #8196AE;
}
.book-hr {
  margin: 20px;
  border: 1px solid;
  color: #8196AE;
}
.book-subheader {
  margin: 20px;
  font-size: 15px;
  color: #8196AE;
}
.book-options {
  width: 40%;
  padding: 5px;
  margin: 10px;
}
.book-date {
  margin: 30px;
}
.book-border {
  border: solid 1px #8196AE;
}
.nav-background {
  background-color: white;
}
.nav-headers {
  background-color: #2D333F;
  color: white;
  border: 1px solid white;
}
.nav-headers: hover {
  background-color: white;
}
.selectedTabs {
  background-color: white;
  color: #2D333F;
  border: 2px solid #2D333F;
}
.tab-icons {
  padding: 5px;
  margin: 5px;
  border: 2px solid;
  border-radius: 200px;
}
.tab-width {
  width: 545px;
}
